*{
  font-family: 'Poppins', sans-serif;

}
/* ---------------------Body--------------------- */
body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/* ------------div container------------------- */
#container{
  padding:5%;
  width: 54%;
  margin-top: 2%;
  margin-left: 18%;
  margin-right: 18%;
  background-color:  rgba(0, 0, 0, 0.4);
  border-radius:20px;
}


/* ----Header */
header{

  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
img{
  max-width: 50%;
  padding-left:25%;
  padding-right: 25%;

}
h1{
  margin-top: 5px;
  margin-bottom: 0px;
  color: Lime;
}


/* ---------Nav */
nav{

  background-color: Lime;
  width: 36%;
  padding-left:32%;
  padding-right: 32%;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
}



/* -----------Main */

ul{
  list-style-type: square;
  margin-bottom: 0px;
  padding-inline-start: 20px;
  font-size: 22px;
  font-weight: bold;
}
li:before{
  content: "Monopattino ";

}
section>div{
  font-size: 16px;

}
section>div:nth-child(2):before{
  content: "↦ ";
}
section>div:nth-child(3):before{
  content: "Stato carica:";
}
section>div:last-child{
  border-radius:5px;
  height: 28px;
}
section:first-child>div:last-child{
  background-color: SandyBrown;
  width: 35%;
}
section:nth-child(2)>div:last-child{
  background-color: Lime;
  width: 55%;
}
section:nth-child(3)>div:last-child{
  background-color: indianred;
  width: 15%;
}
